*{
	margin: 0px;
	padding: 0px;
}
button{
	background-color: #000000;
	color: white;
	width: 150px;
	padding: 10px;
}
#buttons{
	width: 800px;
	background-color: #ccc;
}
#content{
	margin-top: 10px;
	background-color: #ccc;
	width: 800px;
    height: 150px; 
}
.h1{
	display: none;
}