*{
	margin: 0;
	padding:0;
}

#buttons{
	margin: 10px;
}
.button{
	background-color: #000000;
	color: white;
	padding: 10px;
	border : 1px solid #ffffff;
}
#content{
	background-color: #00ffff;
	width: 400px;
	height: 300px;
	padding: 20px;
}

.content{
	display: none;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked+p{
	display: block;
}